/* GENERAL */
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: left;
    line-height: 2;
    letter-spacing: 1px;
    background-image: url("../images/darkness.png");
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 15px;
    padding: 25px;
    text-align: center;
}

/* NAVIGATION */
.navbar {
    /* margin-bottom: 50px; */
    background-color: #fff;
    opacity: .98;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    color: #333;
    letter-spacing: 3px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    font-weight: 600;
    border-bottom: 2px solid #fbdf4b;
}

.navbar-brand p {
    width: 300px;
    color: #333;
    letter-spacing: 3px;
}

/* FOOTER */
footer {
    padding: 30px;
}

/* HOME */
.landing-page {
    /* background-image: url("../images/darkness.png"); */
    text-align: left;;
    margin-top: 50px;
    padding: 40px;
    overflow: auto;
}

#profile {
    border-radius: 50%;
    border: 10px #fff solid;
    width: 90%;
}

#title-1 {
    background-color: #fff;
    padding: 25px;
    margin-top: 100px;
    letter-spacing: 5px;
    font-weight: 700;
    opacity: .98;
}

#title-2 {
    background-color: #fff;
    padding: 25px;
    text-align: center;
    font-weight: bold;
    opacity: .98;
}

.yellow-panel{
    background-color: #fbdf4b;
    color: #333;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.yellow-panel img {
    width: 90%;
}

.white-panel {
    background-color: #fff;
    color: #333;
    border-top: 10px #fbdf4b solid;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.white-panel img {
    width: 90%;
}

.gray-panel {
    background-color: #fff;
    color: #333;
    text-align: center;
}