// VARIABLES

$primary-theme: #FFB91F;
$secondary-theme: #007866;
$dark-grey: #333;
$heading-font: 'Josefin Sans', sans-serif;
$comment-font: 'Playfair Display', serif;

%branding {
    font-family: $heading-font;
    text-transform: uppercase;
    letter-spacing: 15px;
}

/* GENERAL */
body {
    font-family: $heading-font;
    color: $dark-grey;
    text-align: left;
    line-height: 2;
    letter-spacing: 1px;
    background-color: #f7f7f8;
    position: relative;
}

.container-fluid {
    margin: 0 10vw;
}

h1 {
    font-family: $comment-font;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-bottom: 50px;
}

strong {
    font-weight: 700;
    border-bottom: 3px solid $primary-theme;
}

p {
    color: #666;
}

a {
    text-decoration: none;
    color: $dark-grey;
}

.yellow-font {
    color: $primary-theme;
}

.hideme {
    padding: 20vh 0;
}

/* NAVIGATION */
.container-navbar {
    margin: 0 2.5vw;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.95);
    font-family: $heading-font;
    text-transform: uppercase;
    border-bottom: none;
}

.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: $dark-grey;
    letter-spacing: 3px;
}

.navbar-default .navbar-nav>li>a:hover {
    font-weight: 700;
    color: $secondary-theme;
    // border-bottom: 5px solid #fff;
}

// .navbar-brand p {
//     width: 300px;
//     color: $dark-grey;
//     letter-spacing: 3px;
// }

.navbar-default .navbar-nav .social>li>a:focus, .navbar-default .navbar-nav .social>li>a:hover {
    border: none;
    color: $dark-grey;
}

/* LANDING PAGE */
.landing-page {
    background-color: $primary-theme;
    background-size: cover;
    padding: 2vw 5vw;
    min-height: 95vh;
    position: relative;
    border: 2.5vw solid #fff;
}

.brand-cluster {
    position: absolute;
    left: 5vw;
    bottom: 10vh;
    width: 32vw;
}

#brand-name {
    @extend %branding;
    // width: 100%;
    color: #fff;
    text-align: center;
}

.hello {
    @extend %branding;
    text-align: right;
    color: $secondary-theme;
    border-radius: 5px;
    position: absolute;
    bottom: 10vh;
    right: 5vw;
}

.hello h2 {
    font-family: $comment-font;
    font-weight: 400;
    padding-bottom: 0;
}

#downunder {
    height: 75px;
    width: 75px;
    background-color: $dark-grey;
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    text-align: center;
    border-radius:5px;
}

#downunder a {
    color: $secondary-theme;
}

#downunder:hover {
    cursor: pointer;
    background-color: #444;
}

// ELEVATOR PITCH

#about {
    background-color: #fff;
}

#profile {
    border-radius: 50%;
    position: absolute;
    max-width: 400px;
    border: 10px solid #fff;
}

#triangle {
    // background-color: $primary-theme;
    width: 0;
    height: 0;
    border-top: 420px solid transparent;
    border-right: 420px solid $primary-theme;
    z-index: -2;
}

// AT A GLANCE

#about {
    position: relative;
}

#about::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -120px;
    border: 90px solid transparent;
    border-top-color: $primary-theme;
    opacity: .8;
    left: 20%;
    margin-left: -50px;
    z-index: 1;
}

#glance {
    position: relative;
}

#glance::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -180px;
    border: 90px solid transparent;
    border-top-color: $secondary-theme;
    opacity: .8;
    right: 20%;
    margin-left: -50px;
    z-index: 1;
}

#glance::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -140px;
    border: 90px solid transparent;
    border-top-color: $secondary-theme;
    opacity: .8;
    right: 20%;
    margin-left: -50px;
    z-index: 1;
}

// FEATURED PROJECTS

#projects {
    text-align: center;
}

#recent-projects {
    display: block;
}

#featured {
    margin-top: 0;
    background-color: #fff;
    padding: 50px 0;
}


.featured-project {
    display: inline-block;
    width: 100%;
    height: auto;
}

.project-container {
    display: inline-block;
    position: relative;
    background-color: rgba(255, 255, 255, .05);
    padding: 40px 20px;
    overflow: auto;
    box-shadow: 10px 10px 15px rgba(33, 33, 33, .7);
    border-radius: 15px;    
    margin-bottom: 30px;
    width: 100%;
    /* min-height: 80vh; */
  }

.highlight {
    position: relative;
    margin-bottom: 50px;
}

.highlight-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.project-container img {
    width: 100%;
    margin-right: 20px;
    border-radius: 15px;
}

.project-container h2 {
    text-align: center;
}

.project-container p {
    text-align: left;
}

/* .project-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
  } */

.project-title {
    position: absolute;
    color: #fff;
    bottom: 0;
}

.project-title h3 {
    font-size: 24px;
    text-align: right;
    font-weight: 700;
    word-wrap: break-word;
    font-family: $heading-font;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 25px;
}

// OTHER PROJECTS

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(33, 33, 33, .7);
}

.project-summary {
    background-color: #fff;
    display: inline-block;
    width: 20%;
    // min-height: 425px;
    overflow: auto;
    border: 2px solid #EEEEEF;
}

// .project-summary::before {
//     content: "";
//     display: none;
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-color: rgba(52, 73, 94, 1);
// }

.project-summary img {
    width: 100%;
}

.project-summary img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 1s;
}

.project-summary h3 {
    font-weight: bold;
    padding: 20px;
    text-align: center;
    color: $primary-theme;
}

.project-summary p {
    min-height: 100px;
}



.more-portfolio {
    background-color: $primary-theme;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid $primary-theme;
    text-transform: uppercase;
}

// CONTACT

#contact {
    background-color: #fff;
}