/* GENERAL */
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: left;
    line-height: 2;
    letter-spacing: 1px;
    background-image: url("../images/darkness.png");
    /* background-color: #fbdf4b; */
    margin-top: 50px;
    position: relative;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 15px;
    padding: 25px;
    text-align: center;
}

p {
    font-size: 14pt;
}

a {
    text-decoration: none;
    color: #333;
}

.yellow-font {
    color: #fbdf4b;
}

/* NAVIGATION */
.navbar {
    /* margin-bottom: 50px; */
    background-color: #fff;
    opacity: .98;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    color: #333;
    letter-spacing: 3px;
}

.navbar-default .navbar-nav>li>a:hover {
    font-weight: bold;
    color: #fbdf4b;
}

.navbar-brand p {
    width: 300px;
    color: #333;
    letter-spacing: 3px;
}

.navbar-default .navbar-nav .social>li>a:focus, .navbar-default .navbar-nav .social>li>a:hover {
    border: none;
    color: #fbdf4b;
}

/* FOOTER */
footer {
    padding: 50px;
    margin-top: 50px;
}

.footer-panel {
    border: none;
    text-align: center;
}

/* HOME */
.landing-page {
    text-align: left;;
    padding: 40px;
    overflow: auto;
    border-bottom: 10px #fbdf4b solid;
}

#profile {
    border-radius: 50%;
    border: 10px #fff solid;
    width: 90%;
}

#title-1 {
    background-color: #fff;
    padding: 25px;
    margin-top: 100px;
    letter-spacing: 5px;
    font-weight: 700;
    opacity: .98;
}

#title-2 {
    background-color: #fff;
    padding: 25px;
    text-align: center;
    font-weight: bold;
    opacity: .98;
}

.yellow-panel{
    background-color: #fbdf4b;
    color: #333;
    padding-bottom: 50px;
    margin-top: 50px;
}

.white-panel {
    background-color: #fff;
    color: #333;    padding-bottom: 50px;
    margin-top: 50px;
}

/* Featured Projects */

#projects, #recent-projects {
    text-align: center;
}

#featured {
    margin-top: 0;
}

.featured-project {
    display: inline-block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(33, 33, 33, .7);
  }

.project-container {
    display: inline-block;
    position: relative;
    margin: 20px;
    width: 25%;
  }
  

.project-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }

.project-title {
    position: absolute;
    color: #fff;
    bottom: 0;
}

.project-title h3 {
    font-size: 24px;
    text-align: right;
    font-weight: 700;
    word-wrap: break-word;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 25px;
}

.more-portfolio {
    background-color: #fbdf4b;
    font-size: 18px;
    margin-top: 50px;
    padding: 20px;
    width: 200px;
    border: 2px solid #fbdf4b;
}

.more-portfolio:hover {
    color: #333;
    background-color: #fff;
    border: 2px solid #000;
}