// VARIABLES

$primary-theme: #FFB91F;
$primary-accent: rgb(252, 172, 10);
$secondary-theme: #267871;
$secondary-accent: #136a8a;
// $secondary-accent: #007bff;
$accent-theme: #fe22c3;
$background: #f7f7f8;
$dark-grey: #333;
$medium-grey: #444;
$heading-font: 'Josefin Sans', sans-serif;
$comment-font: 'Playfair Display', serif;

%branding-heading {
    font-family: $heading-font;
    text-transform: uppercase;
    letter-spacing: 15px;
}

%branding-comment {
    font-family: $comment-font;
    text-transform: uppercase;
    letter-spacing: 15px;
}

/* GENERAL */
body {
    font-family: $heading-font;
    color: $dark-grey;
    text-align: left;
    line-height: 2;
    letter-spacing: 1px;
    background-color: $background;
    position: relative;
    margin-top: 51px;
}

.container-fluid {
    margin: 0 10vw;
}

h1 {
    font-family: $comment-font;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-bottom: 50px;
}

strong {
    font-weight: 700;
}

p {
    color: #666;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: $dark-grey;
}

.yellow-font {
    color: $primary-theme;
}

.hideme {
    padding: 20vh 0;
}

#back-for-air {
    height: 75px;
    width: 75px;
    position: fixed;
    bottom: 2.5vw;
    right: 2.5vw;
    background-color: $accent-theme;
    text-align: center;
    border-radius:50%;
    z-index: 20;

    a {
        color: #fff;
    }
}

/* NAVIGATION */
.container-navbar {
    margin: 0 2.5vw;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.95);
    font-family: $heading-font;
    text-transform: uppercase;
    border-bottom: none;
}

.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: $dark-grey;
    letter-spacing: 3px;
}

.navbar-default .navbar-nav>li>a:hover {
    font-weight: 700;
    color: $secondary-theme;
    // border-bottom: 5px solid #fff;
}

// .navbar-brand p {
//     width: 300px;
//     color: $dark-grey;
//     letter-spacing: 3px;
// }

.navbar-default .navbar-nav .social>li>a:focus, .navbar-default .navbar-nav .social>li>a:hover {
    border: none;
    color: $dark-grey;
}

/* LANDING PAGE */
.landing-page {
    background-color: $primary-theme;
    background: linear-gradient(to right, $primary-theme, $primary-accent);
    background-size: cover;
    padding: 2vw 5vw;
    min-height: 93vh;
    position: relative;
    border-left: 2.5vw solid #fff;
    border-right: 2.5vw solid #fff;
    border-bottom: 2.5vw solid #fff;
}

.brand-cluster {
    position: absolute;
    left: 5vw;
    bottom: 10vh;
    width: 32vw;
}

#brand-name {
    @extend %branding-heading;
    // width: 100%;
    color: #fff;
    text-align: center;
}

.hello {
    @extend %branding-heading;
    text-align: right;
    color: $secondary-theme;
    border-radius: 5px;
    position: absolute;
    bottom: 10vh;
    right: 5vw;

    h2 {
        font-family: $comment-font;
        font-weight: 400;
        padding-bottom: 0;    
    }
}

#downunder {
    height: 75px;
    width: 75px;
    background-color: $dark-grey;
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    text-align: center;
    border-radius:5px;

    a {
        color: $secondary-theme;    
    }
}

#downunder:hover {
    cursor: pointer;
    background-color: $medium-grey;
}

// ELEVATOR PITCH

#elevator-pitch {
    z-index: 2;
    // background-color: #fff;
    // border-radius: 15px;
}

#about {
    background-color: #fff;
    position: relative;
}

// #about::before {
//     content: "";
//     position: absolute;
//     display: block;
//     bottom: -180px;
//     border: 120px solid transparent;
//     border-top-color: $primary-theme;
//     left: 12%;
//     opacity: .9;
//     margin-left: -50px;
//     z-index: 1;
// }

#profile {
    border-radius: 50%;
    position: absolute;
    max-width: 22vw;
    border: 10px solid #fff;
}

#triangle {
    // background-color: $primary-theme;
    width: 0;
    height: 0;
    border-top: 25vw solid transparent;
    border-right: 25vw solid $primary-theme;
    z-index: -2;
}

#big-kahuna {
    width: 35vw;
    height: 35vw;
    border-radius: 100%;
    background-color: $secondary-accent;
    position: absolute;
    bottom: -15vw;
    left: -20vw;
    opacity: .5;
    z-index: 0;
}

#little-diamond {
    width: 10vw;
    height: 10vw;
    border-radius: 15px;
    border: 10px solid $primary-theme;
    transform: rotate(45deg);
    opacity: .8;
    position: absolute;
    left: 10vw;
    bottom: -5vw;
}

// AT A GLANCE

.glance-shape {
    // position: relative;
    // display: inline-block;
    // width: 33%;
    text-align: center;

    p {
        font-size: 18px;
    }
}

#glance-square {
    position: absolute;
    left: -5vw;
    top: 20vh;
    background-color: $secondary-theme;
    border-radius: 10px;
    overflow: hidden;
    width: 28vw;
    height: 28vw;
    opacity: .9;

    p {
        color: $primary-theme;
        display: table-cell;
        width: 28vw;
        height: 28vw;
        padding: 4vw;
        vertical-align: middle;
    }
}

#glance-triangle {
    position: absolute;
    top: 40vh;
    left: 16vw;
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 12vw 22vw 12vw;
    border-color: transparent transparent #fff transparent;
    transform:rotate(360deg);
    opacity: .95;
    z-index: 10;

    p {
        text-align: center;
        font-size: 14px;
        color: $medium-grey;
        // border: 1px solid $dark-grey;
        position: relative;
        right: 6vw;
        top: 12vw;
        width: 12vw;
        height: 12vw;
    }
}

#glance-circle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    background-color: $primary-theme;
    overflow: hidden;
    opacity: .95;
    z-index: 8;
    // box-shadow: 1vw 1vw $primary-accent;

    p {    
        color: #fff;
        display: table-cell;
        width: 30vw;
        height: 30vw;
        vertical-align: middle;
        padding: 0 4vw;
    }
}

#glance-circle-2 {
    position: absolute;
    top: 40vh;
    left: 78%;
    transform: translateX(-85%);
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    background-color: $secondary-accent;
    overflow: hidden;
    opacity: .9;
    z-index: 9;
    // box-shadow: 1vw 1vw $primary-accent;

    p {    
        color: $primary-theme;
        font-size: 16px;
        display: table-cell;
        width: 20vw;
        height: 20vw;
        vertical-align: middle;
        padding: 0 3vw;
    }
}

#glance-diamond {
    position: absolute;
    right: -1vw;
    background-color: #fff;
    border-radius: 10px;
    transform: rotate(45deg);
    overflow: hidden;
    width: 23vw;
    height: 23vw;
    box-shadow: 10px 10px $secondary-theme;

    p {
        color: $medium-grey;
        display: table-cell;
        transform: rotate(-45deg);
        padding-top: 2vw;
        padding-left: 2vw;
        padding-right: 2vw;
        width: 23vw;
        height: 23vw;
        vertical-align: middle;
    }
}

#glance {
    position: relative;
    height: 150vh;
}

#glance::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -180px;
    border: 90px solid transparent;
    border-top-color: $secondary-theme;
    opacity: .8;
    right: 20%;
    margin-left: -50px;
    z-index: 1;
}

#glance::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -140px;
    border: 90px solid transparent;
    border-top-color: $secondary-accent;
    opacity: .8;
    right: 20%;
    margin-left: -50px;
    z-index: 1;
}

// FEATURED PROJECTS

#featured {
    background-color: #fff;
    // padding: 50px 0;
    text-align: center;

    h1 {
       text-align: left;
    }
}

.project-container {
    // border: 1px solid black;
    height: 60vh;
    margin-bottom: 10vh;

    h2 {
        @extend %branding-comment;
    }

}

.featured-image {
    width: 55%;
    overflow: hidden;
    background-color: $dark-grey;
    position: relative;

    img {
        position: relative;
        width: 100%;
        transition: opacity 0.6s ease-in-out;
        opacity: 1;
    }

    .more-information {
        visibility: hidden;
    }
}

.featured-image:hover {
    img {
        opacity: .1;
    }

    .more-information {
        visibility: visible;
        width: 100%;
    }
}

.more-information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        color: #fff;
        display: block;
        margin: 2.5vw;
        text-align: center;
        padding: 50px;
        border: 1px solid $primary-theme;
    }
}

.project-details {
    // display: inline-block;
    width: 40%;
    // padding: 0 10vw;
    // border: 1px solid $primary-accent;
    border-radius: 15px;
    padding: 50px;
    margin: 20px;
}

.project-container:nth-of-type(odd) .featured-image {
    box-shadow: 1vw 1.5vw  $secondary-theme;
}

.project-container:nth-of-type(even) .featured-image {
    box-shadow: -1vw 1.5vw  $secondary-accent;
}

.project-container:nth-of-type(odd) .featured-image, .project-container:nth-of-type(odd) .project-details {
    float: left;
}

.project-container:nth-of-type(even) .featured-image, .project-container:nth-of-type(even) .project-details {
    float: right;
}

.project-title {
    position: absolute;
    color: #fff;
    bottom: 0;

    h3 {
        font-size: 24px;
        text-align: right;
        font-weight: 700;
        word-wrap: break-word;
        font-family: $heading-font;
        text-transform: uppercase;
        letter-spacing: 10px;
        padding: 25px;    
    }
}

.more-portfolio {
    background-color: $primary-theme;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    margin: 10px;
    padding: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    text-transform: uppercase;
}

.more-portfolio:hover {
    background-color: $primary-accent;
}

.tech-container {
    margin-top: 2vh;
}

.tech-tag {
    display: inline-block;
    background-color: $background;
    color: $primary-theme;
    padding: 5px 10px;
    margin: 5px;
}

// OTHER PROJECTS

#other {
    h1 {
        margin-bottom: 10vh;
    }
}

#other-projects {
    margin-top: 20vh;
    transform: rotate(45deg);
    width: 70vw;
}

.project-start {
    display: inline-block;
    width: 25%;
    height: 25px;
    background-color: $secondary-theme;
}

.project-end {
    display: inline-block;
    width: 25%;
    background-color: $accent-theme;
    border: 100px solid #f7f7f8;
    border-radius: 50%;
    overflow: hidden;
}

.project-end:before {
    content: '';
    padding-top: 100%;
    float: left;
}

.project-summary {
    background-color: #fff;
    display: inline-block;
    width: 25%;
    position: relative;
}

.project-title {
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

.overlay {
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
        max-width: 100%;
        opacity: .2;
    }

    h4 {
        font-weight: bold;
        padding: 20px;
        text-align: center;
        color: #fff;
        border-bottom: 1px solid #fff;
    }
}

.overlay:hover {
    img {
        cursor: pointer;
        transform: scale(1.1);
        transition: all 1s;
        opacity: .9;
        overflow: hidden;
    }

    .project-title {

        h4 {
            // visibility: hidden;
            display: none;
        }

        .other-links {
            visibility: visible;
            border-bottom: 1px solid #fff;
        }

    }
}

.project-summary:nth-of-type(3n) .overlay {
    background-color: $primary-theme;
}

.project-summary:nth-of-type(3n+1) .overlay {
    background-color: $secondary-theme;
}

.project-summary:nth-of-type(3n+2) .overlay {
    background-color: $accent-theme;
}

.other-links {
    text-align: center;
    visibility: hidden;

}

.more-other {
    background-color: $dark-grey;
    color: $primary-theme;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    opacity: .9;
}

.more-other:hover {
    background-color: $medium-grey;
}

// CONTACT

#contact {
    background-color: #fff;

    ul {
        text-align: center;
    }

    li {
        display: inline-block;
        text-decoration: none;
        width: 20%;
        padding-left: 1vw;
        padding-right: 1vw;
        // margin: 50px;
        font-size: 200px;
    }

    img {
        width: 100%;
    }

}

// FOOTER

#footer {
    background-color: $secondary-theme;
    // background: linear-gradient(to bottom, $secondary-theme, $secondary-accent);
    padding: 10vh 0;

    img {
        height: 20vh;
    }

    p {
        color: rgb(203, 248, 226);
    }
}

#brand-footer {
    text-align: center;
}