#brand-name, .hello {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 15px; }

.project-container h2 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 15px; }

/* GENERAL */
body {
  font-family: "Josefin Sans", sans-serif;
  color: #333;
  text-align: left;
  line-height: 2;
  letter-spacing: 1px;
  background-color: #f7f7f8;
  position: relative; }

.container-fluid {
  margin: 0 10vw; }

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-bottom: 50px; }

strong {
  font-weight: 700;
  border-bottom: 3px solid #FFB91F; }

p {
  color: #666; }

a {
  text-decoration: none;
  color: #333; }

.yellow-font {
  color: #FFB91F; }

.hideme {
  padding: 20vh 0; }

/* NAVIGATION */
.container-navbar {
  margin: 0 2.5vw; }

.navbar {
  background-color: rgba(255, 255, 255, 0.95);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  border-bottom: none; }

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  color: #333;
  letter-spacing: 3px; }

.navbar-default .navbar-nav > li > a:hover {
  font-weight: 700;
  color: #007866; }

.navbar-default .navbar-nav .social > li > a:focus, .navbar-default .navbar-nav .social > li > a:hover {
  border: none;
  color: #333; }

/* LANDING PAGE */
.landing-page {
  background-color: #FFB91F;
  background-size: cover;
  padding: 2vw 5vw;
  min-height: 95vh;
  position: relative;
  border: 2.5vw solid #fff; }

.brand-cluster {
  position: absolute;
  left: 5vw;
  bottom: 10vh;
  width: 32vw; }

#brand-name {
  color: #fff;
  text-align: center; }

.hello {
  text-align: right;
  color: #007866;
  border-radius: 5px;
  position: absolute;
  bottom: 10vh;
  right: 5vw; }
  .hello h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    padding-bottom: 0; }

#downunder {
  height: 75px;
  width: 75px;
  background-color: #333;
  position: absolute;
  bottom: -3%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  text-align: center;
  border-radius: 5px; }
  #downunder a {
    color: #007866; }

#downunder:hover {
  cursor: pointer;
  background-color: #444; }

#about {
  background-color: #fff;
  position: relative; }

#about::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -120px;
  border: 90px solid transparent;
  border-top-color: #FFB91F;
  opacity: .8;
  left: 20%;
  margin-left: -50px;
  z-index: 1; }

#profile {
  border-radius: 50%;
  position: absolute;
  max-width: 400px;
  border: 10px solid #fff; }

#triangle {
  width: 0;
  height: 0;
  border-top: 420px solid transparent;
  border-right: 420px solid #FFB91F;
  z-index: -2; }

.glance-shape {
  display: inline-block;
  width: 33%;
  text-align: center;
  padding: 20px; }

#glance-circle {
  width: 100%;
  border-radius: 100%;
  background-color: #FFB91F;
  overflow: hidden; }

#glance-circle:before {
  content: '';
  padding-top: 100%;
  float: left; }

#glance-triangle {
  width: 0;
  height: 0;
  border-bottom: 400px solid #fff;
  border-right: 250px solid transparent;
  border-left: 250px solid transparent;
  float: left; }

#glance-square {
  background-color: #007866;
  border-radius: 5px;
  overflow: hidden;
  width: 100%; }

#glance-square::before {
  content: '';
  padding-top: 100%;
  float: left; }

#glance {
  position: relative; }

#glance::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -180px;
  border: 90px solid transparent;
  border-top-color: #007866;
  opacity: .8;
  right: 20%;
  margin-left: -50px;
  z-index: 1; }

#glance::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -140px;
  border: 90px solid transparent;
  border-top-color: #007866;
  opacity: .8;
  right: 20%;
  margin-left: -50px;
  z-index: 1; }

#featured {
  margin-top: 0;
  background-color: #fff;
  padding: 50px 0;
  text-align: center; }

.project-container {
  border: 1px solid black;
  height: 50vh; }

.featured-image {
  height: 100%; }

.featured-square-image {
  height: 50%; }

.project-container:nth-of-type(odd) .featured-image, .project-container:nth-of-type(odd) .featured-square-image {
  float: left; }

.project-container:nth-of-type(even) .featured-image, .project-container:nth-of-type(even) .featured-square-image {
  float: right; }

.project-title {
  position: absolute;
  color: #fff;
  bottom: 0; }
  .project-title h3 {
    font-size: 24px;
    text-align: right;
    font-weight: 700;
    word-wrap: break-word;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 25px; }

.more-portfolio {
  background-color: #FFB91F;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 20px;
  padding: 20px;
  border: 2px solid #FFB91F;
  text-transform: uppercase; }

.project-summary {
  background-color: #fff;
  display: inline-block;
  width: 25%;
  position: relative;
  margin-top: -12px; }

.project-title {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 50%; }

.overlay {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .overlay img {
    max-width: 100%;
    opacity: .2; }
  .overlay h4 {
    font-weight: bold;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff; }

.overlay:hover img {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 1s;
  opacity: .9;
  overflow: hidden; }
.overlay:hover .project-title {
  visibility: hidden; }

.project-summary:nth-of-type(3n) .overlay {
  background-color: #FFB91F; }

.project-summary:nth-of-type(3n+1) .overlay {
  background-color: #007866; }

.project-summary:nth-of-type(3n+2) .overlay {
  background-color: #fe22c3; }

#contact {
  background-color: #fff; }

#footer {
  background-color: #007866;
  padding: 10vh 0; }
  #footer p {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
